Source: phpmyadmin
Maintainer: Piotr Roszatycki <dexter@debian.org>
Section: web
Priority: extra
Standards-Version: 3.6.1
Build-Depends-Indep: yada (>= 0.31), po-debconf

Package: phpmyadmin
Architecture: all
Depends: php4 (>= 4.1.0) | php4-cgi (>= 4.1.0) | php5 | php5-cgi | php5-fcgi, php4-mysql | php5-mysql | php5-mysqli, apache | apache-perl | apache-ssl | apache2 | httpd, ${phpmyadmin:Depends}
Suggests: mysql-server (>= 3.23.36), php4-gd | php5-gd, ${phpmyadmin:Suggests}
Description: set of PHP-scripts to administrate MySQL over the WWW
 phpMyAdmin is intended to handle the administration of MySQL over the WWW.
 Currently it can:
   - create and drop databases
   - create, copy, drop and alter tables
   - delete, edit and add fields
   - execute any SQL-statement, even batch-queries
   - manage keys on fields
   - load text files into tables
   - create and read dumps of tables
   - export and import data to CSV values
   - administer multiple servers and single databases
   - check referential integrity
   - communicate in more than 38 different languages
