#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

REVISION := $(shell head -1 debian/changelog | sed 's/.*(//;s/).*//;s/.*-//')

%:
	dh $@

override_dh_install:
	dh_install
	# include Debian marker in version string
	sed -ri "/set..PMA_VERSION/ s/'([-0-9a-z.]+)'/'\\1deb-omnibus$(REVISION)'/" \
	    debian/phpmyadmin-omnibus/usr/share/phpmyadmin-omnibus/libraries/classes/Config.php
